__pycache__/
.vscode/
*.code-workspace
.DS_Store
.idea/

tests/*

!data/
data/*
!data/original_data/

models/

plots/

src/__pycache__/
src/configs/models/
src/wandb/

test.py
test.ipynb

*.egg-info/
.installed.cfg
*.egg
x_*